<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>

</head>

<body>
    <!-- Navigation -->
    <% include ./partials/_navbar %>

        <!-- Page Content -->
        <div class="jumbotron" style="margin:30px">
            <h6 class="lead">Manage Your Connections</h6>
            <hr class="my-2">
            <p>Search for friends by their first and last names or their email address.</p>
            <form>
                <div class="form-group d-flex justify-content-center p-4">
                    <input class="form-control col-sm-6 mr-sm-2 search-friend" type="text" placeholder="Find friends">
                    <button class="btn btn-outline-dark my-2 my-sm-0 fire-button create-list">Search</button>
                </div>
            </form>

            
            <div class="row-lg">
                <table class="center">
                    <tr class="row search-row text-center justify-content-md-center align-items-center">
                        <td class="search-name col-12"></td>
                        <td class="search-email col-sm"></td>
                        <td class="add-button col-sm"></td>
                    </tr>
                </table>
            </div>

            <div class="panel-body">
                <div class="row-lg">
                    <ul class="list-group">
                        <% for (var i = 0; i < first.length; i++) { %>
                        <li class="list-group-item flex-column justify-content-between">
                            <h6>
                                <%= first[i] %> <%= last[i] %>
                            </h6>
                            <small>
                                <%= email[i] %>
                            </small>
                            <span class="action-buttons">
                                <i class="fa fa-minus-square-o p-2 delete-friend" aria-hidden="true" data-user-id="<%= userId[i] %>"></i>
                            </span>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <% include ./partials/_footer %>
</body>

</html>

<script>
    $(function () {

        $('.fire-button').on('click', function (event) {
            event.preventDefault();
            let input = $('.search-friend').val();
            
            $.ajax({
                type: 'get',
                url: '/connections/search',
                data: { input: input },
                success: function(results) {
                    let newResults = JSON.parse(results);
                    let name = $('.search-name').text(newResults[0].first_name + (' ') + (newResults[0].last_name));
                    let email = $('.search-email').text(newResults[0].email);
                    let addFriend = $('.friend-add').add('<i class="fa fa-plus-square-o friend-add" data-my-id="<%= userId[0] %>" aria-hidden="true" p-2></i>').attr('data-friend-id', newResults[0].id);

                    $('.search-row').append(name, email, addFriend);
                    
                    $('.friend-add').on('click', function () {
                        var myId = 1;
                        var friendId = Number($(this).data('friend-id'));
                        console.log(myId, friendId);
                        $('.search-friend').reset();
                        $.ajax({
                            type: 'post',
                            url: '/connections/add',
                            data: { myId, friendId },
                            success: function(userData) {
                                let friends = JSON.parse(userData);
                                console.log(userData);
                                $(".list-group").append('<li class="list-group-item flex-column justify-content-between"></li>');
                                var list = $(".list-group-item").last();
                                list.append($('<h6>TEST</h6>')); //.text(userData[0].first_name + " " + userData[0].last_name));
                            
                                list.append($('<small>TEST</small>')); //.text(userData[0].email));
                                /*
                                list.append($('<span class="action-buttons">'));
                                var buttonList = $(".action-buttons").last();
                                var buttonDelete = $('<i class="fa fa-minus-square-o p-2 delete-button" data-user-id="1" aria-hidden="true"></i>').attr("data-book-id", book.bookId);
                                buttonList.append(buttonDelete);
                                */
                            }                       
                        });
                        $('.search-row').remove();
                    });
                }
            })
        });

        $(".list-group-item").each(function () {
            const groupItem = this;
            $(this).on("click", ".delete-friend", function () {
                const user = Number($(this).data('user-id'));
                
                // const email = ($(this).data('email-id'));
                
                $.ajax({
                    type: 'post',
                    url: '/connections/delete',
                    data: { user },
                    success: function (result) {
                    },
                    failure: function(err) {
                    }
                });
                groupItem.remove()
            });
        });
    });
</script>